<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.viz.tools"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="11"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <service
            android:name=".LogService"
            android:exported="true"
            android:enabled="true"/>
    </application>
</manifest>
